.env
/backend/venv
/backend/messenger/chat/__pycache__
/backend/messenger/chat/migrations
/backend/messenger/user/__pycache__
/backend/messenger/user/migrations
/backend/messenger/messenger/__pycache__
/frontend/node_modules